{% extends "base.html" %}
{% block mainbody %}
    {% load staticfiles %}
    {% load users_extras %}
    <head>
        <script src="{% static 'js/service.js' %}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="flex-center flex-wrap units-gap-big">
                <div class="unit-1-3 unit-1-on-mobile">
                    <h1>获取服务</h1>
    {% if user.is_authenticated %}
                    <div class="form" id="service_form">
                        <p>密码:<input type="text" id="form_password" placeholder="端口密码"/></p>
                        <p class="_alert _hide" id="form_password_err">端口密码不能为空</p>
                        <p>方案：
                            <select id="form_plan">
				{% if plans|length %}
				{% for plan in plans%}
				<option value={{plan.id}} label={{plan.id}}></option>
				{% endfor %}
				{% endif %}
                            </select>
                        </p>
                        <p><button class="btn" onclick="addService('{{ csrf_token }}');">提交</button></p>
                    </div>
                    <div class="_hide" id="service_failed">
                        <p>订单提交失败，请稍后重试</p>
                    </div>
                    <div class="_hide" id="service_success">
                        <p>订单提交成功</p>
                        <p>订单：xxx 已成功创建</p>
			<p>进入<a href="{% url 'users:user_center' %}">用户中心</a>查看完整订单信息</p>
                    </div>
    {% else %}
        <p>请先<a href="{% url 'login' %}?next={{ request.path }}">登录</a></p>
    {% endif %}
                </div>
                <div class="unit-2-3 unit-1-on-mobile">
                    <h1>查看服务</h1>
                    <ul>
			{% if plans|length %}
			{% for plan in plans%}
			<li>
				<p>{{plan.name}}</p>
				<p>流量:{{ plan.data_limit|divide:1024|divide:1024|divide:1024 }}G</p>
				{% if plan.peroid > -1 %}
				<p>有效期:{{ plan.peroid_times|add:1|multiply:plan.peroid }} 天</p>
				{% else %}
				<p>有效期:不限</p>
				{% endif %}
			</li>
			{% endfor %}
			{% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <script>
            _select_plan({{ group }},{{ plan }});
        </script>
    </body>
{% endblock %}
